<ion-content [fullscreen]="true">
  <div class="loginContainer">
    <div
      class="loginbg"
      [ngStyle]="{'background-image': 'url(' + bgImg + ')' }"
    ></div>
    <!-- <div class="loginbgblack"></div> -->
    <div class="loginContent" *ngIf="!isLoading">
      <ion-row style="width: 100%; height: 100%; padding: 1%">
        <ion-col size="6">
          <ion-row
            class="logo d-flex justify-content-center align-items-center"
          >
            <div class="logobg d-flex align-items-center">
              <img
                height="85%"
                style="border-radius: 1rem"
                src="{{businessGroupLogo}}"
              />
            </div>
          </ion-row>
          <ion-row style="height: 50%">
            <div class="instructionContainer">
              <div class="instruction" *ngFor="let info of InfoText">
                <img
                  class="instructionImg"
                  src="../../assets/checkcircle-aBK.png"
                />
                <p class="instructionText">{{info.informationText}}</p>
              </div>
              <!-- <div class="instruction">
                <img class="instructionImg" src="../../assets/checkcircle-aBK.png" />
                <p class="instructionText">Earn points every time you sign in.</p>
              </div>
              <div class="instruction">
                <img class="instructionImg" src="../../assets/checkcircle-aBK.png" />
                <p class="instructionText">Instantly redeem points at the store.</p>
              </div>
              <div class="instruction">
                <img class="instructionImg" src="../../assets/checkcircle-aBK.png" />
                <p class="instructionText">More visits earn more rewards.</p>
              </div> -->
            </div>
          </ion-row>
        </ion-col>
        <ion-col
          size="6"
          class="d-flex align-items-center justify-content-center"
        >
          <div class="keypadContainer">
            <img src="../../assets/companylogo.png" width="50%" />
            <div class="keypad">
              <div class="keypadInput">
                <ion-label
                  class="ion-text-center keypadInputLabel"
                  floating
                  placeholder="(000) 000-0000"
                  >{{display}}</ion-label
                >
              </div>
              <div class="keypadbtnRow d-flex align-items-center">
                <div class="keypadBtn" (click)="click('1')">1</div>
                <div class="keypadBtn" (click)="click('2')">2</div>
                <div class="keypadBtn" (click)="click('3')">3</div>
              </div>
              <div class="keypadbtnRow d-flex align-items-center">
                <div class="keypadBtn" (click)="click('4')">4</div>
                <div class="keypadBtn" (click)="click('5')">5</div>
                <div class="keypadBtn" (click)="click('6')">6</div>
              </div>
              <div class="keypadbtnRow d-flex align-items-center">
                <div class="keypadBtn" (click)="click('7')">7</div>
                <div class="keypadBtn" (click)="click('8')">8</div>
                <div class="keypadBtn" (click)="click('9')">9</div>
              </div>
              <div class="keypadbtnRow d-flex align-items-center">
                <div
                  class="keypadBtn"
                  style="border: none !important"
                  (click)="click('delete-left')"
                >
                  <ion-icon name="backspace-outline"></ion-icon>
                </div>
                <div class="keypadBtn" (click)="click('0')">0</div>
                <div
                  class="keypadBtn"
                  style="border: none !important"
                  (click)="signUp()"
                >
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
              </div>
            </div>
            <p class="keypadText" *ngIf="dynamicField != undefined">
              <span> {{dynamicField.termsCondText1}}</span>
              <span
                style="text-decoration-line: underline; color: #00a100"
                id="open-modal"
                (click)="setPrivacyModal(true)"
              >
                Terms &amp; Privacy Policy.
              </span>
              <span
                ><br />
                {{dynamicField.termsCondText2}}
              </span>
            </p>
            <p class="keypadText">App Version: {{currentVersion}}</p>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <ion-modal
      [isOpen]="isModalOpen"
      [backdropDismiss]="false"
      cssClass="custom-modal"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar style="padding: 12px">
            <img
              src="../../assets/cancel.png"
              style="width: 5%; float: right"
              (click)="setPrivacyModal(false)"
            />
            <ion-title>Terms &amp; Privacy Policy</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <iframe
            class="webPage"
            src="https://revords.com/RevordsT&C.html"
            frameborder="0"
            style="width: 100%; height: 100%"
          ></iframe>
        </ion-content>
      </ng-template>
    </ion-modal>

    <div class="loadContainer" *ngIf="isLoading">
      <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">
          LOADING
          <!-- <img src="../../assets/companylogo.png" /> -->
        </div>
      </div>
    </div>
  </div>
</ion-content>
